Create a 2x2 numpy array of US v/s GB deaths in two American Revolutionary War battles listed below for US and GB correspondingly (1 point):
Battle 1: 344, 2345,
Battle 2: 4345, 253
Using Numpy Indexing/Slicing methods:
Select the entries for US deaths (1 point)
Select the entries for GB deaths (1 point)
Select the entries for US deaths in the 2nd battle (1 point)
Sort this array along the first axis (1 point)
Sort this array along the second axis (1 point)
Swap rows and columns of this array (1 point)
What is the total number of deaths (including for US and GB) for the two battles? (1 point)
What is the average number of deaths in each battle (US and GB combined)? (2 points)
Replace Battle 2 GB deaths in your array to 5347 (1 point)

In [70]:
import numpy as np

Creating 2x2 Numpy Array of US vs GB deaths in Battles

In [96]:
battles = np.array([[344,2345],[4345,253]])
battles

array([[ 344, 2345],
       [4345,  253]])

Selecting entries for US deaths

In [97]:
battles[:2, 0:1]

array([[ 344],
       [4345]])

Selecting entries for GB deaths

In [98]:
battles[:2, 1:]

array([[2345],
       [ 253]])

Selecting entries for US deaths in second battle

In [99]:
battles[1, 0:1]

array([4345])

Sort this array along the first axis (sort by row) (1 point)

In [100]:
battles.sort(axis=0)
battles

array([[ 344,  253],
       [4345, 2345]])

Sort this array along the second axis (sort by column) (1 point)

In [102]:
battles = np.array([[344,2345],[4345,253]])
battles.sort(axis=1)
battles

array([[ 344, 2345],
       [ 253, 4345]])

Swap rows and columns of this array (1 point)

In [104]:
battles = np.array([[344,2345],[4345,253]])
battles.T

array([[ 344, 4345],
       [2345,  253]])

What is the total number of deaths (including for US and GB) for the two battles? (1 point)

In [105]:
battles.sum()

7287

What is the average number of deaths in each battle (US and GB combined)? (2 points)

In [109]:
int(battles.mean())

1821

Replace Battle 2 GB deaths in your array to 5347 (1 point)

In [112]:
battles[1, 1:] = 5347
battles

array([[ 344, 2345],
       [4345, 5347]])